
<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="~/wwwroot/img/bg/bg-img.png">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        Agenda de Eventos
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/Home">Home</a>  |   </li>
                <li><span>Events</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->
<!--events section -->
<section class="pt100 pb100">
    <div class="container">

        <div class="event_box">
            <img src="~/wwwroot/img/events/event1.png" alt="event">
            <div class="event_info">
                <div class="event_title">
                    Churrascão do Zé
                </div>
                <div class="speakers">
                    <strong>Anfitriões</strong>
                    <span>Zé Luis, Dona Antônia</span>
                </div>
                <div class="event_date">
                    20 Dezembro, 2018
                </div>
            </div>
            <div class="event_word">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        Seu Zé Luis e Dona Antônia convidam todos para participar do Churrascão na Laje.
                    </div>
                    <div class="col-md-6 col-12">
                        Observação: Trazer 15 conto pra fortalecer.
                    </div>
                </div>
            </div>
            <a href="#" class="readmore_btn">read more</a>
        </div>

        <div class="event_box">
            <img src="~/wwwroot/img/events/event2.png" alt="event">
            <div class="event_info">
                <div class="event_title">
                    san francisco Event
                </div>
                <div class="speakers">
                    <strong>Speakers</strong>
                    <span>Maria Smith,  Gabriel Hernandez,  Michael Williams</span>
                </div>
                <div class="event_date">
                    February 14, 2018
                </div>
            </div>
            <div class="event_word">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                </div>
            </div>
            <a href="#" class="readmore_btn">read more</a>
        </div>

        <div class="event_box">
            <img src="~/wwwroot/img/events/event3.png" alt="event">
            <div class="event_info">
                <h5 class="event_title">
                    New york Event
                </h5>
                <div class="speakers">
                    <strong>Speakers</strong>
                    <span>Maria Smith,  Gabriel Hernandez,  Michael Williams</span>
                </div>
                <div class="event_date">
                    February 14, 2018
                </div>
            </div>
            <div class="event_word">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                </div>
            </div>
            <a href="#" class="readmore_btn">read more</a>
        </div>

    </div>
</section>
<!--event section end -->
<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('~/wwwroot/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                GEt your tikets
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="#" class="btn btn-primary btn-rounded mt30">buy now</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->
